.top-menu-burger {
	width: 30px;
	height: 30px;
	display: none;
	// margin-left: 10px;
	align-items: center;
    cursor: pointer;
    
    span{ 
        display: block;
        width: 30px;
        height: 4px;
        background: #000;

        &:before, &:after {
            content: "";
            transition: 0.4s;
            display: block;
            position: relative;
            height: 4px;
            width: 30px;
            background: #000;
        }


        &:before {
            // transform: translateY(-8px);
            top: -9px;
        }

        &:after {
            // transform: translateY(5px);
            top: 5px;
        }
    }
}


.top-menu-burger-active span {
	width: 0px;
    
    &:before {
        transition: 0.4s;
        top: 0px;
        transform: rotate(45deg);
    }
    
    &:after {
        transition: 0.4s;
        top: -3px;
        transform: rotate(135deg);
    }
}
